:root {
  --container-width: 1200px;
  --n-switchback-gradient-angle: 248deg;
  --filter-invert: invert(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #12181f;
  color: #ffffff;
  /* height: 100vh;
  width: 100vw; */
}

/* navbar design */
header {
  /* width: 100%; */
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  /* z-index: 1000; */
  background: #131920f2;
}

.logo img {
  width: 7rem;
}
.logo img:hover {
  cursor: pointer;
}

.nav-container {
  /* width: 77rem; */
  max-width: var(--container-width);
  width: 90%;
  margin: 0 auto;
  padding-top: 0.825rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-textContainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav-items ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* gap: 1.5rem; */
}

.nav-items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.915rem;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 8px 12px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.nav-buttons ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-buttons a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.915rem;
  padding: 8px 12px;
}

.nav-buttons button {
  background-color: #32e6e2;
  padding: 0.625rem 0.965rem;
  border-radius: 16rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #32e6e2;
  cursor: pointer;
  text-align: center;
}

.nav-buttons img {
  width: 1.4rem;
}

/* svg arrow in navigation ::after a */
.nav-items li:not(:last-child) a::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(45deg);
}

/* CTA hero section design */
.cta-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 6rem 0;
}

.cta-hero {
  max-width: var(--container-width);
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cta-text {
  display: flex;
  flex-direction: column;
}

.cta-text h1 {
  color: color(srgb 0.9019607843137255 0.9254901960784314 0.9490196078431372);
  font-size: 4rem;
  text-wrap: balance;
}

.cta-text p {
  font-size: 1.125rem;
  color: #defffecb;
  margin-top: 1.5rem;
}

.cta-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cta-buttons a {
  text-decoration: none;
}

.cta-buttons a:first-child {
  background-color: #32e6e2;
  padding: 0.625rem 0.965rem;
  border-radius: 16rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #32e6e2;
  cursor: pointer;
  text-align: center;
  color: black;
}

.cta-buttons a:last-child {
  color: #32e6e2;
  padding: 0.625rem 0.965rem;
  border-radius: 16rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  cursor: pointer;
  text-align: center;
  background-color: color(srgb 1 1 1 / 0.09803921568627451);
}

/* brand animation design */
.brand-cta {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.brand-cta-container {
  max-width: var(--container-width);
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  overflow: hidden;
  position: relative;
  /* fade shades on edges */
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.brand-logo {
  filter: var(--filter-invert);
}

.brand-ct {
  display: flex;
  align-items: center;
  gap: 4rem;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* platform section design */
.platform-section {
  width: 100%;
  padding: 5rem 0;
}

.platform-heading {
  max-width: var(--container-width);
  width: 90%;
  margin: 0 auto;
}

.platform-heading h4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #32e6e2;
  font-weight: 400;
}

.platform-heading h2 {
  color: color(srgb 0.9019607843137255 0.9254901960784314 0.9490196078431372);
  text-wrap: balance;
  font-size: 4rem;
  width: 56rem;
  margin-top: 1.5rem;
}

.platform-heading p {
  font-size: 1.125rem;
  width: 40rem;
  margin-top: 1.5rem;
  color: #defffe;
  text-wrap: balance;
  line-height: 1.4;
  font-weight: 200;
}

.platform-banner {
  max-width: var(--container-width);
  width: 90%;
  margin: 4rem auto;
}

.platfrom-banner-group {
  color: #fff;
  border: 1px solid #d0fffe33;
  border-radius: 0.375rem;
}

.pt-group-1 {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 1rem;
  background: linear-gradient(
    var(--n-switchback-gradient-angle, 101deg),
    #0d1818 8.17%,
    #0c2a2a 56.72%
  );
}

.group-svg {
  text-align: center;
  padding: 3rem;
}

.group-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.group-text h3 {
  font-size: 2.3rem;
}

.group-text p {
  font-size: 1rem;
  margin-top: 1.5rem;
  font-weight: 350;
  line-height: 1.5;
}

.group-text ul {
  margin-top: 1.5rem;
  list-style-type: none;
}

.group-text ul li {
  padding: 1rem;
  margin-top: 0.5rem;
  background: #e9ebed1a;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  font-weight: 300;
}

.group-text div {
  margin-top: 1.5rem;
}

.group-text div > a {
  font-size: 1rem;
  color: #defffe;
  text-decoration: none;
  border-bottom: 1px solid #0be8e0;
}

.group-text div > a::after {
  content: "↗";
  margin-left: 8px;
  display: inline-block;
  transition: transform 0.2s ease;
}

.group-text div > a:hover::after {
  transform: translateX(5px);
}

.pt-group-2 {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  gap: 1rem;
  background: linear-gradient(
    var(--n-switchback-gradient-angles, 101deg),
    #0d1818 8.17%,
    #0c2a2a 56.72%
  );
  margin-top: 4rem;
}

.pt-group-3 {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 1rem;
  background: linear-gradient(
    var(--n-switchback-gradient-angle, 101deg),
    #0d1818 8.17%,
    #0c2a2a 56.72%
  );
  margin-top: 4rem;
}

/* primitive section */
.primitive-section {
  width: 100%;
  padding: 5rem 0;
}

.primitive-heading {
  max-width: var(--container-width);
  width: 90%;
  margin: 0 auto;
}

.primitive-heading h4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #32e6e2;
  font-weight: 400;
}

.primitive-heading h2 {
  color: color(srgb 0.9019607843137255 0.9254901960784314 0.9490196078431372);
  text-wrap: balance;
  font-size: 4rem;
  width: 36rem;
  margin-top: 1.5rem;
}

.primitive-heading p {
  font-size: 1.125rem;
  width: 50rem;
  margin-top: 1.5rem;
  color: #defffe;
  text-wrap: balance;
  line-height: 1.4;
  font-weight: 200;
}

.primitive-img {
  max-width: var(--container-width);
  width: 90%;
  margin: 4rem auto;
}

.primitive-img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* conversion block design */
#section-conversion-panel {
  width: 100%;
  padding: 5rem 0;
  display: grid;
  place-items: center;
}

.conversion-block {
  display: flex;
  flex-direction: column;
}

.conversion-block h2 {
  color: color(srgb 0.9019607843137255 0.9254901960784314 0.9490196078431372);
  text-wrap: balance;
  font-size: 4rem;
}

.conversion-block p {
  font-size: 1.125rem;
  margin-top: 1.5rem;
  color: #defffe;
  text-align: center;
  font-weight: 200;
}

.conversion-block-btn {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.conversion-block-btn a {
  text-decoration: none;
}

.conversion-block-btn a:first-child {
  background-color: #32e6e2;
  padding: 0.625rem 0.965rem;
  border-radius: 16rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #32e6e2;
  cursor: pointer;
  text-align: center;
  color: black;
}

.conversion-block-btn a:last-child {
  color: #32e6e2;
  padding: 0.625rem 0.965rem;
  border-radius: 16rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #32e6e2;
  cursor: pointer;
  text-align: center;
}

/* footer design */
footer {
  margin: 6rem 0;
  background-color: #131920f2;
}

.footer-block {
  max-width: var(--container-width);
  width: 90%;
  margin: 0 auto;
}

.ft-heading {
  display: flex;
  justify-content: space-between;
}

.ft-social-media {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.ft-social-media a img {
  width: 1.875rem;
}

.ft-nav {
  width: 80%;
  margin: 3rem auto 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.ft-nav h3 {
  color: #7e8792;
  font-size: 1rem;
}

.ft-nav ul {
  margin-top: 1.2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

.ft-nav li a {
  text-decoration: none;
  color: #7e8792;
  font-weight: 200;
  font-size: 0.875rem;
}

.ft-newsletter {
  margin-top: 4rem;
  display: grid;
  place-items: center;
}

.ft-newsletter h2 {
  font-size: 1rem;
  padding: 1rem;
  color: #7e8792;
  font-weight: 300;
}

.ft-newsletter input {
  padding: 10px;
  color: #7e8792;
  background-color: #1e242c;
  border: 1px solid #3b434c;
  outline: none;
  width: 18rem;
  border-radius: 0.25rem;
}

.ft-newsletter button {
  background-color: #32e6e2;
  padding: 0.5rem 0.965rem;
  border-radius: 16rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #32e6e2;
  cursor: pointer;
  text-align: center;
  color: black;
  margin-left: 1rem;
}

.ft-copyrights {
  margin-top: 6rem;
  border-top: 1px solid #272f38;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  color: #7e8792;
  font-weight: 200;
  font-size: 0.875rem;
}

.ft-copyrights ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.ft-copyrights li > a {
  color: #7e8792;
  text-decoration: none;
}
