* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #12181f;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}

/* navbar design */
header {
  width: 100%;
  position: fixed;
  background: #131920f2;
}

.logo img {
  width: 7rem;
}
.logo img:hover {
  cursor: pointer;
}

.nav-container {
  width: 77rem;
  margin: 0 auto;
  padding-top: 0.825rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-textContainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav-items ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* gap: 1.5rem; */
}

.nav-items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.915rem;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 8px 12px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.nav-buttons ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-buttons a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.915rem;
  padding: 8px 12px;
}

.nav-buttons button {
  background-color: #32e6e2;
  padding: 0.625rem 0.965rem;
  border-radius: 16rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #32e6e2;
  cursor: pointer;
  text-align: center;
}

.nav-buttons img {
  width: 1.4rem;
}

/* svg arrow in navigation ::after a */
.nav-items a::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(45deg);
}
